{% extends "base.html" %}
{% block body %}
    <div class="well">
        <h2>Edit Card #{{ card.ID }}</h2>
        <form action="/update" method="POST" class="cardForm">

            <div class="form-group">
                <label for="general" class="btn btn-default btn-lg">General &nbsp;
                    <input type="radio" name="type" value="1"
                           id="general" {% if card.Type == 1 %}checked{% endif %} />
                </label>
                <label for="code" class="btn btn-default btn-lg">Code &nbsp;
                    <input type="radio" name="type" value="2" id="code" {% if card.Type == 2 %}checked{% endif %} />
                </label>
            </div>
            <div class="form-group">
                <label for="front">Front of Card</label>
                <input type="text" name="front" id="front" class="form-control" value="{{ card.Front|escape }}">
            </div>
            <div class="form-group">
                <label for="back">Back of Card</label>
                <textarea name="back"
                          class="form-control"
                          id="back"
                          placeholder="back of card"
                          rows="12">{{ card.Back|escape }}</textarea>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="known"
                               value="1" {% if card.Known == true %}checked{% endif %} /> Known
                        </label>
                    </div>
                </div>
                <div class="col-xs-6 text-right">
                    <a href="/delete/{{ card.ID }}" class="btn btn-danger btn-xs">
                        <i class="fa fa-trash"></i>
                        Remove
                    </a>
                </div>
            </div>

            <hr />
            <div class="form-group">
                <input type="hidden" name="card_id" value="{{ card.ID|escape }}" />
                <button type="submit" class="saveButton btn btn-lg btn-primary">Save</button>
            </div>
        </form>
    </div>
{% endblock %}
